site_name: Skipper Documentation

repo_name: lukasjarosch/skipper
repo_url: https://github.com/lukasjarosch/skipper


nav:
  - Home: index.md
  - Concepts: 
      - Big Picture: concepts.md
      - Inventory: 
        - Overview: concepts/inventory/overview.md
        - Data: concepts/inventory/data.md
        - Classes: concepts/inventory/classes.md
        - Targets: concepts/inventory/targets.md
        - Variables:
            - Overview: concepts/inventory/variables/overview.md
            - Static Variables: concepts/inventory/variables/static.md
            - Dynamic Variables: concepts/inventory/variables/dynamic.md
            - User-defined Variables: concepts/inventory/variables/user-defined.md
        - Calls: concepts/inventory/calls.md
      - Templates:
        - Overview: concepts/templates/overview.md
        - Components: concepts/templates/components.md
      - Secrets:
        - Overview: concepts/secrets/overview.md
        - Drivers:
          - Plain: concepts/secrets/drivers/azurekv.md
          - Base64: concepts/secrets/drivers/azurekv.md
          - AES: concepts/secrets/drivers/azurekv.md
          - Azure KeyVault: concepts/secrets/drivers/azurekv.md
  - Getting Started: getting_started.md
  - Examples: examples.md
  - Changelog: changelog.md

theme:
  name: material
  logo: assets/favicon.ico
  favicon: assets/favicon.ico

  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.expand

  palette: 

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lukasjarosch/skipper

